.App {
  font-family: "Karla", sans-serif;
  border: 1px solid #f0fbff;
  border-radius: 5px;
  max-width: 550px;
  margin: 0 auto;
  background-image: url("./images/horizonsmaller.jpg");
  background-size: cover;
}
