button {
  display: block;
  margin: 20px auto;
  color: #475053;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  border-style: none;
  padding: 8px 10px;
  transition: ease-in-out 30ms all;
}
button:hover {
  background-color: #6c757d;
  color: white;
}
