h2 {
  margin-top: 15px;
  color: #475053;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
}
h3,
h4,
h5 {
  font-size: 15px;
  color: #475053;
  margin-top: 15px;
  margin-bottom: 20px;
  text-align: center;
}
.container-fluid {
  max-width: 85%;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
}

.row {
  margin-top: 20px;
  margin-bottom: 20px;
}

.col-sm-6,
.col-sm-4,
.col-sm-3 {
  font-size: 15px;
  color: #475053;
}
